# Image Classification
In this exercise, you will be classifying images about clothes. The data set you will be using is called `fashion-small.csv`.

### Remember our main steps motto _isbe_.
1. i - Inspect and explore data.
2. s - Select and engineer features.
3. b - Build and train model.
4. e - Evaluate model.

In [1]:
# Import your libraries
import pandas as pd
import numpy as np

from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB


from sklearn import metrics
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
%matplotlib inline

# 1. Inspect and explore our data
1. Load the `fashion-small.csv` data into a pandas dataframe. 
2. Inspect / remove null values. 
3. Inspect / remove duplicate rows. 
4. Print out the number examples in each class aka the class balances. 
5. Visualize at least one image.

In [3]:
# 1. Load data into a pandas dataframe. 
df_fashion = pd.read_csv('data/fashion-small.csv')
df_fashion.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,T-shirt/top,0,0,0,0,0,0,0,0,0,...,66,25,0,0,0,0,0,0,0,0
1,Trouser,0,0,0,0,0,0,0,0,0,...,170,25,0,0,0,0,0,0,0,0
2,Dress,0,0,0,0,0,0,0,0,0,...,76,80,0,0,0,1,0,0,0,0
3,Ankle boot,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Dress,0,0,0,0,0,0,0,22,53,...,79,78,18,0,2,0,0,0,0,0

### Inspect for null values

In [6]:
# 2. Inspect / remove null values. 
print(f'The number of null are: {df_fashion.isnull().sum().sum()}')

The number of null are: 0

### Check for duplicates

In [ ]:
# 3. Inspect / remove duplicate rows. 
print(f'The number of null are: {df_fashion.duplicated().sum())}')df.

### Lets look at our class balances

In [ ]:
# 4. Print out the number examples in each class aka the class balances.

# Visualize one image

## First, we need to create a list that is just our pixel columns

In [ ]:
# Grabs all of the columns 


# Convert the all columns object into a regular list


# Sanity check that it is now just a list.


# Remove just the label column from the list

## Extract one row and reshape it to its original 28x28 shape and plot the reshaped image.

In [ ]:
# Select just the pixel columns and convert them to a numpy array by using .values. 


# Select just one image from all the images


# Reshape the image to be a 28x28 matrix (original format of image)


# Plot reshaped image

___
# 2. Select and engineer our features.
1. Create our `selected_features` that is the list of the columns we are going to use as our `X` data. 
2. Define our `X` and `y` data. 
2. Train-test-split our `X` and `y` data

### 1. Create our `selected_features` that is the list of the columns we are going to use as our `X` data.

In [ ]:
# DOING THIS AGAIN JUST FOR PRACTICE 

# Grabs all of the columns 
selected_features = ???


# Convert the all columns object into a regular list


# Sanity check that it is now just a list.


# Remove the label column from the list
# This happnes 'in place'

### 2. Define our `X` and `y`

In [ ]:
# 2. Define our `X` and `y` data. 

X = df[???]

y = df[???]

### 3. Train-test-split our `X` and `y` data

In [ ]:
# 3. Train-test-split our `X` and `y` data

____
# 3. Build and train our model
1. Initalize an empty Support Vector Classifier model.
2. Fit that model with our training data.

In [ ]:
# 1. Initalize an empty Support Vector Classifier model.
from sklearn import svm

# Initalize our Support Vector Classifier

In [ ]:
# 2. Fit that model with our training data.

___
# 4. Evaluate our model
1. Get a baseline accuracy score.
2. Make new predictions using our test data. 
3. Print the classification report. 
4. Plot the confusion matrix of our predicted results.

### 1. Get a baseline accuracy score.

In [ ]:
### 1. Get and print a baseline accuracy score.
accuracy = ???
print("Accuracy %f" % accuracy)

### 2. Make new predictions using our test data.

In [ ]:
### 2. Make new predictions using our test data.

### 3. Print the classification report. 
Use the sklearn helper fuction for this.

In [ ]:
### 3. Print the classification report.

### 4. Plot the confusion matrix of our predicted results.

In [8]:
### 4. Plot the confusion matrix of our predicted results.

### Looking at the confusion matrix, which two clothing items were mis-classfied with eachother the most?

In [4]:
print('The classifier mistaked YOUR_ANSWER_HERE and YOUR_ANSWER_HERE the most.')

The classifier mistaked YOUR_ANSWER_HERE and YOUR_ANSWER_HERE the most.

___
### Build a function thats input is an unfitted model, X, and y data, and runs the whole pipeline and prints a classification report and confusion matrix.

In [ ]:
### Build a function thats input is an empty model, X, and y data, and runs the whole pipeline and prints a classification report and confusion matrix. 
def build_and_eval_model(model, X, y, random_state=23):
    ???

## Run LogisticRegression, RandomForest, and Multinomial Naive Bayes through the function you just built and compare the results. 
1. Which classifier did the best, and which classifier did the worst.

In [ ]:
# LogisticRegression

In [ ]:
# RandomForest

In [ ]:
# MultinomialNB

In [3]:
print('YOUR_ANSWER_HERE model did the best and YOUR_ANSWER_HERE model did the worst.')

 YOUR_ANSWER_HERE model did the best and YOUR_ANSWER_HERE model did the worst.